<!--

╔╔╗╔╔╔═╔═  ╔╗╦║║╦╗╦╔╗
║║║╠╠╠═╠═  ╚╗║║║║║║║║
╚╚╝║║╚═╚═  ╚╝║╚╝╩╝╩╚╝

www.coffeestudio.ru
support: web@coffeestudio.ru
creature: 2020

-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , viewport-fit=cover">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">

    <title>Разработка сайтов и Интернет реклама - агентство Интернет-рекламы Coffee Studio</title>
    <meta name="description"
          content="Агентство Интернет-рекламы Coffee Studio предлагает полный комплекс услуг по продвижению Вашего бизнеса в Интернет.">
    <meta name="keywords"
          content="псков, создание сайтов, интернет реклама, редизайн, раскрутка, продвижение, обслуживание сайтов, администрирование">
    <link rel="canonical" href="">

    {% load static %}

    <link href="{% static "css/plugins.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/styles.css" %}" type="text/css" rel="stylesheet">

    <link href="{% static "css/service.css" %}" type="text/css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static "favicon/favicon.ico" %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {% block ceo %}
        {% include "coffee/basicHeadEntry/ceoEntry.html" %}
    {% endblock %}
</head>
<body class="inner-page">
<div class="container">
    <div class="content">
        {% block header %}
            {% include "coffee/header/header.html" %}
        {% endblock %}

        <section class="service">
            <ul class="wrapper breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <span class="breadcrumbs__last">Услуги</span>
                </li>
            </ul>
            <div class="wrapper service__wrapper">
                <div class="article-content">
                    <div class="service__intro">
                        <div class="service__intro--left">
                            <h1>Асфальтирование дорог</h1>
                            <span class="value">От 450 руб/м2</span>
                            <p>Если вам нужно действительно качественное и быстрое асфальтирование дорог, обращаться в
                                органы городского управления не имеет смысла.</p>
                            <p>Помочь вам сможет только специализированная компания, например - “ДорСтройСервис”. Мы уже
                                давно занимаемся благоустройством, имеем необходимую технику и большой штат
                                специалистов. При необходимости мы постелем асфальт в самые короткие сроки, и по
                                доступной цене!</p>
                            <a href="#order-service-modal" class="btn btn--orange" data-modal>Заказать услугу</a>
                        </div>
                        <div class="article-slider swiper-container js-article-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <!-- Изображение обрезать в разрешении 680x488 -->
                                    <div class="article-slide">
                                        <div class="article-slide__img">
                                            <picture>
                                                <source srcset="{% static "images/article-slide-1.webp" %}"
                                                        type="image/webp">
                                                <img src="{% static "images/article-slide-1.jpg" %}" alt="slide_alt">
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <!-- Изображение -->
                                    <div class="article-slide">
                                        <div class="article-slide__img">
                                            <picture>
                                                <source srcset="{% static "images/article-slide-2.webp" %}"
                                                        type="image/webp">
                                                <img src="{% static "images/article-slide-2.jpg" %}" alt="slide_alt">
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <!-- Видео -->
                                    <div class="article-slide">
                                        <div class="article-slide__inner js-article-slide-video">
                                            <button class="video-btn js-video-preview" data-video-type="youtube"
                                                    data-video-link="WNy2x8ykWgA">
                                                <img src="https://img.youtube.com/vi/WNy2x8ykWgA/maxresdefault.jpg"
                                                     class="video-preview" alt="article-slide_alt">
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="article-slide">
                                        <div class="article-slide__inner js-article-slide-video">
                                            <button class="video-btn js-video-preview" data-video-type="youtube"
                                                    data-video-link="MoD8KxpCYp4">
                                                <img src="https://img.youtube.com/vi/MoD8KxpCYp4/maxresdefault.jpg"
                                                     class="video-preview" alt="article-slide_alt">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="article-slider__btn article-slider__btn--prev">
                  <span class="icon">
                    <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464467C12.9763 0.269205 12.6597 0.269205 12.4645 0.464467C12.2692 0.659729 12.2692 0.976312 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53554L16.3536 4.35355ZM-4.37114e-08 4.5L16 4.5L16 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z"
                            fill="#1B1B1B"/>
                    </svg>

                  </span>
                            </button>
                            <button type="button" class="article-slider__btn article-slider__btn--next">
                  <span class="icon">
                    <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464467C12.9763 0.269205 12.6597 0.269205 12.4645 0.464467C12.2692 0.659729 12.2692 0.976312 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53554L16.3536 4.35355ZM-4.37114e-08 4.5L16 4.5L16 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z"
                            fill="#1B1B1B"/>
                    </svg>

                  </span>
                            </button>

                            <div class="swiper-pagination"></div>

                        </div>
                    </div>
                    <h2>Дальнейшие строительные работы условно можно разделить на следующие этапы:</h2>
                    <ul>
                        <li>подготовительные работы (вырубка деревьев, разборка ограждений и т. п.)</li>
                        <li>земляные работы (вывоз или завоз грунта, укрепление земляного полотна, сооружение земляных
                            насыпей и т. д.)
                        </li>
                        <li>прокладка новых или перекладка существующих инженерных коммуникаций, попадающих в зону
                            строительства
                        </li>
                        <li>устройство оснований «дорожного пирога» (устройство подстилающего слоя из песка, «заливка»
                            основания из щебня или
                            бетона)
                        </li>
                    </ul>
                    <h2>Наименование работы</h2>
                    <ol>
                        <li>асфальтирование мелкозернистым асфальтобетоном</li>
                        <li>асфальтирование песчаным асфальтобетоном</li>
                        <li>асфальтирование крупнозерниcтым асфальтобетоном</li>
                        <li>асфальтирование щебеночно-мастичным асфальтобетоном</li>
                    </ol>
                </div>
            </div>
            <section class="projects">
                <div class="wrapper projects__wrapper">
                    <div class="projects-top">
                        <div class="header-block">
                            <h2>Выполненные проекты</h2>
                            <div class="header-block__text header-block__text--3">Примеры выполненных проектов</div>
                        </div>
                    </div>
                    <div class="projects-items swiper-container js-projects-slider">
                        <div class="projects-buttons">
                            <div class="article-slider__btn article-slider__btn--prev">
                  <span class="icon">
                    <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464467C12.9763 0.269205 12.6597 0.269205 12.4645 0.464467C12.2692 0.659729 12.2692 0.976312 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53554L16.3536 4.35355ZM-4.37114e-08 4.5L16 4.5L16 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z"
                            fill="#1B1B1B"/>
                    </svg>

                  </span>
                            </div>
                            <div class="article-slider__btn article-slider__btn--next">
                  <span class="icon">
                    <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464467C12.9763 0.269205 12.6597 0.269205 12.4645 0.464467C12.2692 0.659729 12.2692 0.976312 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53554L16.3536 4.35355ZM-4.37114e-08 4.5L16 4.5L16 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z"
                            fill="#1B1B1B"/>
                    </svg>

                  </span>
                            </div>
                        </div>
                        <div class="swiper-wrapper">
                            <div class="projects-item swiper-slide">
                                <a href="#0" class="project">
                                    <div class="project-image">
                                        <picture>
                                            <source srcset="{% static "images/project-1.webp" %}" type="image/webp">
                                            <img src="{% static "images/project-1.jpg" %}"
                                                 alt="Реконструкция участка трассы М60">
                                        </picture>
                                    </div>
                                    <div class="project-overlay"></div>
                                    <h3 class="project-title">Реконструкция участка трассы М60</h3>
                                    <div class="project-hover">
                                        <div>
                                            <h3 class="project-hover__title">Реконструкция участка трассы М60</h3>
                                            <!-- Текст из админки start -->
                                            <p>Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                                                является стандартной "рыбой" для
                                                текстов на латинице с начала XVI века.</p>
                                            <p>В то время некий безымянный печатник создал большую коллекцию размеров и
                                                форм шрифтов, используя Lorem Ipsum
                                                для распечатки образцов.</p>
                                            <!-- Текст из админки end -->
                                        </div>
                                        <div class="project-hover__read">
                                            Читать
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="projects-item swiper-slide">
                                <a href="#0" class="project">
                                    <div class="project-image">
                                        <picture>
                                            <source srcset="{% static "images/project-2.webp" %}" type="image/webp">
                                            <img src="{% static "images/project-2.jpg" %}"
                                                 alt="Строительство автомобильной дороги в пгт Бежаницы">
                                        </picture>
                                    </div>
                                    <div class="project-overlay"></div>
                                    <h3 class="project-title">Строительство автомобильной дороги в пгт Бежаницы</h3>
                                    <div class="project-hover">
                                        <div>
                                            <h3 class="project-hover__title">Строительство автомобильной дороги в пгт
                                                Бежаницы</h3>
                                            <!-- Текст из админки start -->
                                            <p>Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                                                является стандартной "рыбой" для
                                                текстов на латинице с начала XVI века.</p>
                                            <p>В то время некий безымянный печатник создал большую коллекцию размеров и
                                                форм шрифтов, используя Lorem Ipsum
                                                для распечатки образцов.</p>
                                            <!-- Текст из админки end -->
                                        </div>
                                        <div class="project-hover__read">
                                            Читать
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="projects-item swiper-slide">
                                <a href="#0" class="project">
                                    <div class="project-image">
                                        <picture>
                                            <source srcset="{% static "images/project-3.webp" %}" type="image/webp">
                                            <img src="{% static "images/project-3.jpg" %}"
                                                 alt="Реконструкция участка трассы М60">
                                        </picture>
                                    </div>
                                    <div class="project-overlay"></div>
                                    <h3 class="project-title">Реконструкция автомобильной дороги на улице
                                        Космонавтов</h3>
                                    <div class="project-hover">
                                        <div>
                                            <h3 class="project-hover__title">Реконструкция автомобильной дороги на улице
                                                Космонавтов</h3>
                                            <!-- Текст из админки start -->
                                            <p>Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                                                является стандартной "рыбой" для
                                                текстов на латинице с начала XVI века.</p>
                                            <p>В то время некий безымянный печатник создал большую коллекцию размеров и
                                                форм шрифтов, используя Lorem Ipsum
                                                для распечатки образцов.</p>
                                            <!-- Текст из админки end -->
                                        </div>
                                        <div class="project-hover__read">
                                            Читать
                                        </div>
                                    </div>
                                </a>
                            </div>

                            {% for object in data %}
                                <div class="projects-item swiper-slide">
                                    <a href="#0" class="project">
                                        <div class="project-image">
                                            <picture>
                                                <source srcset="{% static "images/project-3.webp" %}" type="image/webp">
                                                <img src="{% static "images/project-3.jpg" %}"
                                                     alt="Реконструкция участка трассы М60">
                                            </picture>
                                        </div>
                                        <div class="project-overlay"></div>
                                        <h3 class="project-title">Реконструкция автомобильной дороги на улице
                                            Космонавтов</h3>
                                        <div class="project-hover">
                                            <div>
                                                <h3 class="project-hover__title">Реконструкция автомобильной дороги на
                                                    улице
                                                    Космонавтов</h3>
                                                <p>  {{ object.text }}{% if not forloop.last %},{% endif %}   </p>
                                            </div>
                                            <div class="project-hover__read">
                                                Читать
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}

                            <div class="projects-item swiper-slide">
                                <a href="#0" class="project">
                                    <div class="project-image">
                                        <picture>
                                            <source srcset="{% static "images/project-3.webp" %}" type="image/webp">
                                            <img src="{% static "images/project-3.jpg" %}"
                                                 alt="Реконструкция участка трассы М60">
                                        </picture>
                                    </div>
                                    <div class="project-overlay"></div>
                                    <h3 class="project-title">Реконструкция автомобильной дороги на улице
                                        Космонавтов</h3>
                                    <div class="project-hover">
                                        <div>
                                            <h3 class="project-hover__title">Реконструкция автомобильной дороги на улице
                                                Космонавтов</h3>
                                            <!-- Текст из админки start -->
                                            <p>Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                                                является стандартной "рыбой" для
                                                текстов на латинице с начала XVI века.</p>
                                            <p>В то время некий безымянный печатник создал большую коллекцию размеров и
                                                форм шрифтов, используя Lorem Ipsum
                                                для распечатки образцов.</p>
                                            <!-- Текст из админки end -->
                                        </div>
                                        <div class="project-hover__read">
                                            Читать
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="wrapper service__wrapper">
                <div class="article-content service-table">
                    <h2>Цены на услуги по асфальтированию и сопутствующие услуги</h2>
                    <div class="table">
                        <table>
                            <tr>
                                <th>Вид работ</th>
                                <th>Толщ., см</th>
                                <th>Ед. изм.</th>
                                <th>Цена за ед, руб</th>
                            </tr>
                            <tr>
                                <td>Разработка грунта с погрузкой на автомобили-самосвалы экскаваторами с ковшом
                                    вместимостью 0,25 м3, группа грунтов 2
                                </td>
                                <td>4-5</td>
                                <td>м2</td>
                                <td class="value">360</td>
                            </tr>
                            <tr>
                                <td>Устройство покрытия из мелкозернистого асфальта</td>
                                <td>4-5</td>
                                <td>м2</td>
                                <td class="value">800</td>
                            </tr>
                            <tr>
                                <td>Разборка бортовых камней на бетонном основании</td>
                                <td></td>
                                <td>м.п.</td>
                                <td class="value">180</td>
                            </tr>
                            <tr>
                                <td>Валка деревьев в городских условиях (дуб, бук, граб, клен, ясень) диаметром до 300
                                    мм
                                </td>
                                <td></td>
                                <td>м.п.</td>
                                <td class="value">320</td>
                            </tr>
                            <tr>
                                <td>Разработка грунта с погрузкой на автомобили-самосвалы экскаваторами с ковшом
                                    вместимостью 0,25 м3, группа грунтов 2
                                </td>
                                <td>4-5</td>
                                <td>м2</td>
                                <td class="value">360</td>
                            </tr>
                            <tr>
                                <td>Устройство покрытия из мелкозернистого асфальта</td>
                                <td>4-5</td>
                                <td>м2</td>
                                <td class="value">800</td>
                            </tr>
                            <tr>
                                <td>Разборка бортовых камней на бетонном основании</td>
                                <td></td>
                                <td>м.п.</td>
                                <td class="value">180</td>
                            </tr>
                            <tr>
                                <td>Валка деревьев в городских условиях (дуб, бук, граб, клен, ясень) диаметром до 300
                                    мм
                                </td>
                                <td></td>
                                <td>м.п.</td>
                                <td class="value">320</td>
                            </tr>
                        </table>
                    </div>
                    <a href="#order-service-new-modal" class="btn btn--orange" data-modal>Заказать услугу</a>
                </div>
            </div>
        </section>

    </div>

    <div itemscope itemtype="http://schema.org/Organization" hidden>
        <span itemprop="name">ООО "ДорСтройСервис"</span>
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            180559, Псковская обл., Псковский р-н, д. Родина, ул. Юбилейная д. 17
        </div>
        <span itemprop="telephone">{{ contact.1 }}</span>
        <span itemprop="email">{{ contact.0 }}</span>
    </div>


    {% block footer %}
        {% include "coffee/footer/footer.html" %}
    {% endblock %}


    <div class="loader">
        <div class="lds-dual-ring"></div>
    </div>
    <!--<noindex>-->
    <div id="cookie-policy-info" class="cookie-policy" role="alert">
        <div class="wrapper">
            <div class="cookie-policy-row">
                <div class="cookie-policy-text">
                    Данный сайт использует «cookies» и сведения об устройстве в целях повышения удобства пользования
                    сайтом. Продолжая работу с сайтом, вы соглашаетесь на обработку указанных выше данных. Подробнее о
                    порядке обработки данных смотрите здесь. Если вы не хотите использовать файлы «cookies», измените
                    настройки браузера или покиньте сайт.
                </div>
                <div class="cookie-policy-button">
                    <button class="btn btn--orange btn-cookies" id="cookie-policy-btn" type="button">
                        <span>Принимаю</span></button>
                </div>
            </div>
        </div>
    </div>
    <!--</noindex>-->
</div>

{% block contact %}
    {% include "coffee/contact/contact.html" %}
{% endblock %}

<!-- Успешная отправка -->
<div class="modal mfp-hide" style="display: none;">
    <div class="modal-success">
      <span class="img">
        <img src="{% static "images/modal-success.svg" %}" alt="Ваше сообщение успешно отправлено"
             title="Ваше сообщение успешно отправлено">
      </span>
        <span class="title">Ваше сообщение успешно отправлено</span>
    </div>
</div>

<div class="modal mfp-hide" id="order-service-modal">
    <div class="header-block">
        <div class="header-block__text header-block__text--2 header-block__text--black">Заказать<br> услугу</div>
    </div>
    <form action="#0">
        <div class="modal-form">
            <div class="required-fields__message"><span>*</span> - поля, обязательные для заполнения</div>

            <label class="input-group">
                <!-- Errorlist сюда -->
                <input type="text" class="input-group__input" placeholder="Сергеев Михаил" required>
                <span class="input-group__title">Имя</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                <input type="tel" class="input-group__input" placeholder="8 (954) 342-11-23" required>
                <span class="input-group__title">Телефон</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                <input type="email" class="input-group__input" placeholder="adret1224@mail.ru">
                <span class="input-group__title">E-mail</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                <input type="text" class="input-group__input" placeholder="Наименование услуги">
                <span class="input-group__title">Наименование услуги</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                <textarea class="input-group__textarea" placeholder="Текст комментария"></textarea>
                <span class="input-group__title">Комментарий</span>
            </label>

            <div class="modal-form__policy">Отправляя форму, я соглашаюсь с
                <a href="#0">политикой обработки персональных данных</a>
            </div>

            <button type="submit" title="Отправить" class="btn btn--orange-fill modal-form__btn">Отправить</button>

        </div>
    </form>
</div>

<!-- Успешная отправка -->
<div class="modal mfp-hide" style="display: none;">
    <div class="modal-success">
      <span class="img">
        <img src="{% static "images/modal-success.svg" %}" alt="Ваше сообщение успешно отправлено"
             title="Ваше сообщение успешно отправлено">
      </span>
        <span class="title">Ваша заявка успешно отправлена</span>
    </div>
</div>
<div class="modal mfp-hide" id="order-service-new-modal">
    <div class="header-block">
        <div class="header-block__text header-block__text--2 header-block__text--black">Заказать<br> услугу</div>
    </div>
    <form action="#0">
        <div class="modal-form">
            <div class="required-fields__message"><span>*</span> - поля, обязательные для заполнения</div>

            <label class="input-group">
                <!-- Errorlist сюда -->
                <input type="text" class="input-group__input" placeholder="Сергеев Михаил" required>
                <span class="input-group__title">Имя</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                <input type="tel" class="input-group__input" placeholder="8 (954) 342-11-23" required>
                <span class="input-group__title">Телефон</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                <input type="email" class="input-group__input" placeholder="adret1224@mail.ru">
                <span class="input-group__title">E-mail</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                <input type="text" class="input-group__input" placeholder="Наименование организации" required>
                <span class="input-group__title">Организация</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                <input type="text" class="input-group__input" placeholder="Наименование объекта" required>
                <span class="input-group__title">Объект</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                <input type="text" class="input-group__input" placeholder="Вид асфальта или битума" required>
                <span class="input-group__title">Вид асфальта или битума</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                <input type="text" class="input-group__input" placeholder="Количество" required>
                <span class="input-group__title">Количество</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                <input type="text" class="input-group__input" placeholder="Предполагаемый срок поставки" required>
                <span class="input-group__title">Предполагаемый срок поставки</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                <textarea class="input-group__textarea" placeholder="Текст комментария"></textarea>
                <span class="input-group__title">Комментарий</span>
            </label>

            <div class="modal-form__policy">Отправляя форму, я соглашаюсь с
                <a href="#0">политикой обработки персональных данных</a>
            </div>

            <button type="submit" title="Отправить" class="btn btn--orange-fill modal-form__btn">Отправить</button>

        </div>
    </form>
</div>

<!-- Успешная отправка -->
<div class="modal mfp-hide" style="display: none;">
    <div class="modal-success">
      <span class="img">
        <img src="{% static "images/modal-success.svg" %}" alt="Ваше сообщение успешно отправлено"
             title="Ваше сообщение успешно отправлено">
      </span>
        <span class="title">Ваша заявка успешно отправлена</span>
    </div>
</div>

<script src="{% static "js/combined.min.js" %}"></script>
<script src="{% static "js/libs.js" %}"></script>


<div class="counters" hidden>
    <!--    counters    -->
</div>

</body>
</html>