{% load static %}

<div class="modal mfp-hide" id="write-us-modal">
    <div class="header-block">
        <div class="header-block__text header-block__text--2 header-block__text--black">Форма <br> обратной связи</div>
    </div>
    {#    <form action="#0">#}
    <form action="" method="post">
        {% csrf_token %}
        <div class="modal-form">
            <div class="required-fields__message"><span>*</span> - поля, обязательные для заполнения</div>

            <label class="input-group">
                <!-- Errorlist сюда -->
                {{ form.name }}
                {#                <input type="text" class="input-group__input" placeholder="Сергеев Михаил" required>#}
                <span class="input-group__title">Имя</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                {{ form.phone }}
                {#                <input type="tel" class="input-group__input" placeholder="8 (954) 342-11-23" required>#}
                <span class="input-group__title">Телефон</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                {{ form.email }}
                {#                <input type="email" class="input-group__input" placeholder="adret1224@mail.ru">#}
                <span class="input-group__title">E-mail</span>
            </label>
            <label class="input-group">
                <!-- Errorlist сюда -->
                {{ form.text }}
                {#                <textarea class="input-group__textarea" placeholder="Текст вопроса"></textarea>#}
                <span class="input-group__title">Вопрос</span>
            </label>
            <p> {{ error }} </p>

            <div class="modal-form__policy">Отправляя форму, я соглашаюсь с
                <a href="#0">политикой обработки персональных данных</a>
            </div>

            <button type="submit" id="submit" title="Отправить" onclick="validate(event)"
                    class="btn btn--orange-fill modal-form__btn">Отправить
            </button>

        </div>
    </form>
</div>

<script type='text/javascript' src="{% static "js/contactValidation.js" %}"></script>
