<!--og-->
<meta property="og:type" content={{ ceo.og_type }}>
<meta property="og:url" content={{ ceo.og_url }}>
<meta property="og:title" content={{ ceo.og_title }}>
<meta property="og:image" content={{ ceo.og_image }}>
<meta property="og:description" content={{ ceo.og_description }}>
<meta property="og:site_name" content={{ ceo.og_site_name }}>
<meta property="og:locale" content={{ ceo.og_locale }}>
<!-- Следующие теги не обязательны, но рекомендованы -->
<meta property="og:image:width" content={{ ceo.og_image_width }}>
<meta property="og:image:height" content={{ ceo.og_image_height }}>
<!--twitter -->
<meta name="twitter:card" content={{ ceo.twitter_card }}>
<meta name="twitter:site" content={{ ceo.twitter_site }}>
<meta name="twitter:creator" content={{ ceo.twitter_creator }}>
<meta name="twitter:url" content={{ ceo.twitter_url }}>
<meta name="twitter:title" content={{ ceo.twitter_title }}>
<meta name="twitter:description" content={{ ceo.twitter_description }}>
<meta name="twitter:image" content={{ ceo.twitter_image }}>